@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

/* .merriweather-<uniquifier> {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

* {
  padding: 0;
  margin: 0;
}

.btn-primary {
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

#header {
  /* height: 100vh;
  box-sizing: border-box; */
}

#hero {
  /* box-sizing: border-box; */
  margin: 50px 140px 100px 140px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Merriweather;
  letter-spacing: 0%;
  background: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url("../assets/images/Banner\ Image.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 175px 345px;
  /* height: 80%; */
}

#hero h1 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
}

#hero h2 {
  color: rgb(255, 255, 255);
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}

#offer-section {
  font-family: Inter;
  text-align: center;
  letter-spacing: 0%;
}

#offer-section h1 {
  color: rgb(255, 0, 0);
  font-size: 88px;
  font-weight: 700;
  line-height: 107px;
}

#offer-section h2 {
  color: rgb(255, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin: 40px 0 15px 0;
}

#offer-section h6 {
  color: rgb(7, 2, 17);
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}

#offer-section img {
  margin: 50px 0;
}

#banner .banner-container {
  border-radius: 16px;
  background: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url("../assets/images/Vectorrr.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70px 100px;
  margin: 60px 140px;
}

#banner .banner-container {
  border-radius: 16px;
  background: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url("../assets/images/Vectorrr.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* padding: 70px 130px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#banner .banner-container .banner-content {
  color: rgb(255, 255, 255);
  font-family: Inter;
  width: 60%;
}

#banner .banner-container .banner-content h1 {
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 11%;
  font-family: Merriweather;
}

#banner .banner-container .banner-content p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  margin: 25px 0 45px 0;
}

#banner .banner-container .banner-content button {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  background: none;
  border: none;
  padding-left: 32px;
}

#address .address-container {
  border-radius: 16px;
  background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
  margin: 60px 140px;
  padding: 100px 0;
  text-align: center;
  font-family: Inter;
}

#address .address-container p {
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0%;
  text-transform: capitalize;
}

#address .address-container span {
  color: rgb(255, 0, 0);
}

#address .address-container button {
  margin-top: 50px;
}

#new-offer .new-offer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  font-family: Inter;
  letter-spacing: 0%;
  margin: 70px 140px;
}

#new-offer .new-offer-container .div-1 {
  width: 50%;
}

#new-offer .new-offer-container .div-1 h2 {
  color: rgb(255, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}

#new-offer .new-offer-container .div-1 h3 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  text-transform: capitalize;
  margin: 18px 0;
}

#new-offer .new-offer-container p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

#new-offer .new-offer-container .div-2 {
  box-sizing: border-box;
  border: 15px solid rgb(255, 0, 0);
  border-radius: 100%;
  padding: 20px;
}

#new-offer .new-offer-container .div-3 {
  position: relative;
  top: 50px;
}

#new-offer .new-offer-container .div-3 h2 {
  color: rgb(255, 0, 0);
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}

#new-offer .new-offer-container .div-3 p {
  margin: 16px 0 40px 0;
}

#sale .sale-container {
  margin: 100px 140px;
  font-family: Inter;
  text-align: center;
  letter-spacing: 0%;
}

#sale .sale-container .sale-contents {
  margin: 0 120px;
}

#sale .sale-container .sale-contents h6 {
  color: rgb(7, 2, 17);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin: 15px 0 25px 0;
}

#sale .sale-container .sale-contents h1 {
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 91px;
}

#sale .sale-container .sale-contents h1 span {
  color: rgb(255, 0, 0);
}

#sale .sale-container .sale-contents p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

#sale .sale-container .sale-banner {
  background: url("../assets/images/Rectangle\ 2.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 65px 0 0 0;
  padding: 0 100px;
}

#sale .sale-container .sale-banner .img-2 {
  position: relative;
  top: -100px;
}

#portfolio .portfolio-container {
  margin: 70px 140px;
  font-family: Inter;
  letter-spacing: 0%;
}

#portfolio .portfolio-container h1 {
  color: rgb(255, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}

#portfolio .portfolio-container h2 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  text-transform: capitalize;
  margin: 15px 0 20px 0;
}

#portfolio .portfolio-container p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 50px;
}

#portfolio .portfolio-container .products .row {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

#portfolio .portfolio-container .products .row img {
  width: 100%;
}

#subscription .subs-container {
  margin: 70px 140px;
  padding: 85px 200px;
  text-align: center;
  letter-spacing: 0%;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  font-family: Inter;
}

#subscription .subs-container h1 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  text-transform: capitalize;
  margin: 40px 0 20px 0;
}

#subscription .subs-container p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 50px;
}

#subscription .subs-container .subs-field {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

#subscription .subs-container .subs-field input {
  border-radius: 50px 0 0 50px;
  border: none;
  background: rgb(255, 255, 255);
  color: rgba(7, 2, 17, 0.3);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  padding: 25px 30px;
}

#subscription .subs-container .subs-field button {
  border-radius: 0 50px 50px 0;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  padding: 25px 30px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-transform: capitalize;
}

#footer {
  background: rgb(7, 2, 17);
  padding: 120px 140px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

#footer .contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer .contacts .div-2 p {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 5px;
}

#footer hr {
  border: 1px solid rgba(255, 255, 255, 0.15);
  margin: 50px 0;
}

#footer .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

#footer .copyrights {
  display: flex;
  justify-content: space-between;
  align-items: center;
}